/.idea
!.gitignore
*.pyc
__pycache__/

2017*/
*-test/
/Conf/*
.idea

*.log
*.list
*.tblog
*.tblog*
*.lock
*.html
tbdmPrivacy.*
tbdmConfig.*
tbdmConfig_py.*
tbdmSetting.*
result*.json
ju_detail_*.json
item_detail_*.json
test.json